#jeopardy {
  text-align: center;
  font-size: 9pt;
  background-color: lightskyblue;
  color: white;
  border-collapse: collapse;
}

#jeopardy th, #jeopardy td {
  border: solid 5px white;
  width: 12em;
  padding: 1em;
}

th {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  height: 4em;
  text-shadow: darkgoldenrod 1px 1px;
}

td {
  height: 9em;
  font-family: Copse, serif;
  position: relative;
}

td:hover {
  cursor: pointer;
}

.default {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.hidden {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
}
